<h1>Editing Admin Event Registration</h1>

<%= render 'form', admin_event_registration: @admin_event_registration %>

<%= link_to 'Show', @admin_event_registration %> |
<%= link_to 'Back', admin_event_registrations_path %>
