<h3>Hi there!</h3>

<p>Looks like you have been in contact with Pittel in order to snatch one of the last available spaces at <%= @event_registration.event.name %>...</br>
Apparently, you have been lucky! You will be part of the fun soon enough!</p>

<p>But before that, we still need some information about you and your party.</p>

<p>Just head over to <%= link_to edit_event_event_registration_url(@event_registration) %> and fill in the required information.</br>
After your data has been processed, you will receive an additional mail with payment information and everything else you need to know.</p>

<p>Enjoy the party!</p>

<p>The Eternal Convention Crew</p>
