<p>
  Wir bestätigen den Eingang der Zahlung für deine Anmeldung für  <%= @event_registration.event.name %>!</br>  
  Dein(e) Betten sind für dich reserviert, du kannst anfangen, für ein Wochenende voller Spiele zu packen!
</p>

  <p>
  Die Eternal Crew freut sich auf dich und wünscht die tolle Spiele und eine schöne Zeit.</br>
  </p>

  <p>
PS: Weitere Informationen bei <a href="http://eternal-con.de">EternalCon.de</a> oder <a href="http://www.facebook.com/EternalConvention">Facebook</a>
</p>
