<p>
  We would like to confirm receipt of payment for your registration for <%= @event_registration.event.name %>.</br>
  Your bed(s) are reserved, you can start to prepare for a weekend of gaming now.
</p>


  <p>
  The Eternal-Crew is looking forward to meet you and we wish you a great time and good gaming.</br>
  </p>

  <p>
PS.: for more information visit <a href="http://eternal-con.de">EternalCon.de</a> or <a href="http://www.facebook.com/EternalConvention">Facebook</a>
</p>
