<% content_for :title do %>
  <title> Registration for <%= @ff_registration.freeform.name %> </title>
<% end %>
<div class="container-fluid">
  <h1>Registration for <%= @ff_registration.freeform.name %></h1>
  <p>
    <%= render 'form', ff_registration: @ff_registration%>
  </p>
    
</div>




