<% content_for :title do %>
  <title> Anmeldung für <%= @ff_registration.freeform.name %> </title>
<% end %>
<div class="container-fluid">
  <h1>Anmeldung für <%= @ff_registration.freeform.name %></h1>
  <p> 
    
  </p>
    
</div>




