<div id="content_wrapper" class="grid_8 prefix_2 suffix_2">
  <div class="registerParticicpantDiv">

    <h2 class="content">Participants Data </h1>

    <label id="partUsernameLabel">Name<%#= @participant.user.name %></label>
    <label id="partEmailLabel">E-Mail <%#= @participant.user.email %></label>

    <%= render :partial => "form" %>
  </div>
</div>
