<div class="row">
  <div class="col-xs-12 col-md-6" id="content">
    <div class="pricebox">
      <p class="sub">Registration is temporary down</p>
      <p class="copy">Dear Friends, we are sorry the automatic registration is down. Please send an email to pittel@eternal-con.de</p>
    </div>
  </div>
  <div class="col-xs-12 col-md-6" id="content">
    <div class="pricebox">
      <p class="sub">Registrierung augenblicklich nicht verfügbar?</p>
      <p class="copy" itemprop="description">Liebe Freunde, es tut uns leid die automatische Anmeldung ist abgeschaltet. Bitte schicke eine Email an pittel@eternal-con.de</p>
    </div>
  </div>
