
<div class="row">
  <div class="col-md-6">
    <h2>Teilnahmebeitrag</h2>
    <p>Teilnehmer für den Con zahlen den folgenden Beitrag</p>
    <ul>
      <li>0-3 Jahre <b>Kostenlos</b></li>
      <li>4-10 Jahre <b><%= number_to_currency(@event.child, :unit => "€") %></b></li>
      <li>11-14 Jahre <b><%= number_to_currency(@event.youth, :unit => "€") %></b></li>
      <li>Regulär <b><%= number_to_currency(@event.full_price, :unit => "€") %></b></li>
    </ul>
    <p class="copy">
      Der Preis beinhaltet 3 Übernachtungen inclusive Bettwäsche, Frühstück, Mittagessen und Abendessen bis Montag früh und den Beitrag für die Convention.
    </p>
  </div>
  <div class="col-md-6">
    <h2>Freeforms</h2>
    <p>Bis jetzt wurden die folgenden Freeforms angekündigt:</p>
    <h3>Norinevras Heimkehr</h3>
    <h4>Freeform für 5 bis 15 Teenager zwischen 12 und 17 Jahren</h4>
    <strong>Sprache: Deutsch</strong>
    <p>
      Glorantha: Wir schreiben das Jahr 1620 (nach der Zeitendämmerung).</br>
      Es ist Wasserzeit im vom Lunaren Imperium besetzten Königreich Sartar in der Region Drachenpass.</br>
      Norinevra liegt im Sterben. Sie ist die uralte und beliebte Asrelia-Priesterin aus eurer Sippe. Mit letzter Kraft hat sie noch alle ihre Kinder, Enkel und Urenkel aus dem ganzen Land zu sich gerufen, denn sie möchte ihre Nachkommen um einen letzten Gefallen bitten, bevor sie stirbt.</br>
      <em>Was könnte dies sein?</em>
    </p>
  </div>
</div>


