
<div class="row">
  <div class="col-md-6">
    <h2>Teilnahmebeitrag</h2>
    <p>Teilnehmer für den Con zahlen den folgenden Beitrag</p>
    <ul>
      <li>0-3 Jahre <b>Kostenlos</b></li>
      <li>4-10 Jahre <b><%= number_to_currency(@event.child, :unit => "€") %></b></li>
      <li>11-14 Jahre <b><%= number_to_currency(@event.youth, :unit => "€") %></b></li>
      <li>Regulär <b><%= number_to_currency(@event.full_price, :unit => "€") %></b></li>
    </ul>
    <p class="copy">
      Der Preis beinhaltet 3 Übernachtungen inclusive Bettwäsche, Frühstück, Mittagessen und Abendessen bis Montag früh und den Beitrag für die Convention.
    </p>
  </div>
  <div class="col-md-6">
  <h2>Freeforms</h2>
    <% if @event.freeforms.exists? %>
      <%= render "freeform_carousel" %>
    <% else %>
      <h3>Bisher wurden noch keine Freeforms angekündigt.</h3>
    <% end %>
  </div>
</div>


