<% content_for :title do %>
  <title> The Eternal Convention</title>
<% end %>
<% if @event.nil? %> 
  <h1> Information about upcoming events will be made available shortly. </h1>
<% else %>
  <%= render "jumbotron" %>
  <div class="container">
  <%= render "detail_row" %>
<% end %>
</div>
<hr>

