<div class="row">
  <div class="col-10">
    <h2>About the Eternal Convention</h2>
    <h4>What is it?</h4>
    <p class="copy">The Eternal Convention is an international and family friendly RPG Convention with 50% foreign guests from about a dozen different countries all over the world. It is no surprise that English is the dominant spoken language.</p>
  </div>
  <div class="col-12">
    <h4>When is it?</h4>
    <p class="copy">
      The Eternal Convention is an annual event happening each year on the extended Pentecost weekend. As Pentecost is a moving holiday based on the church calendar, the exact date of the event changes each year. If you would like to stay longer than the actual Convention time and enjoy some of Germany's favourite regions we are happy to help you to book accommodations before and/or after the event.
    </p>
  </div>
  <div class="col-12">
    <h4>Where is it?</h4>
    <p class="copy">
      Roughly between Cologne and Frankfurt lies the Castle Stahleck overlooking the River Rhine and the lovely city of <a href=\"http://bacharach.de/\" target=\"_blank\">Bacharach</a>. YES! A real medieval castle, now a modern <a href=\"http://www.diejugendherbergen.de/die-jugendherbergen-auf-einen-blick/Bacharach/portrait\" target=\"_blank\">youth hostel</a>, hosts our guests. Game in the historical "Rittersaal", enjoy a fine wine, good beer or a café latte at the courtyard in the shadow of the huge tower and count the ships on the great river. All rooms are modern with separate rest-rooms, good and solid beds and a wonderful view. Nearest airports are Frankfurt / Main (biggest international airport in Germany) and Frankfurt (Hahn) (cheap Ryanair Airport). From Frankfurt / Main there is a regular train connecting the airport with the town of Bacharach, from Hahn airport there might be a shuttle service provided for you. Don't hesitate to ask!
    </p>
    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=7.756261825561524%2C50.05325369465134%2C7.7742862701416025%2C50.06355811461845&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/#map=16/50.0584/7.7653">Größere Karte anzeigen</a></small>
  </div>
  <div class="col-12">
    <h4>What games could I expect?</h4>
    <p class="copy">
      We love to see every game system and background, the more unique, the better it is. However, we concentrate on Glorantha, HeroQuest, RuneQuest, Traveller, Call of Cthulhu, Pendragon and the Eternal Champion. There will be authors of theses games, making panels and running games. Besides Pen&Paper games, we are happy to play FreeForms, Boardgames and card games with you.
    </p>
  </div>
  <div class="col-12">
    <h4>Can I bring my family?</h4>
    <p class="copy">
      YES!  Kids are welcome. There will be special program options for kids and we also offer specal kids freeforms on occasion. Besides the games at the castle, the local area shows a lot of opportunities, like boat-trips, wine-tasting, hiking or cultural sightseeing.
    </p>
  </div>
  <div class="col-12">
    <h4>What is a Freeform?</h4>
    <p class="copy">
      A freeform is a type of roleplaying game with minimal rules and can have as many as 50 players (or more) playing simultaneously. A freeform game (of the type held at Eternal Con) typically lasts 4 to 7 hours. Costuming is typically encouraged. In a freeform you play a premade character (although in some freeforms you may be asked to help make your character); this character typically has goals, likes, and dislikes, and some background to get you in the mindset of your character. In a freeform, you interact with the other players to accomplish your goals, chew scenery, and generally have a grand fun time. The referees are there to resolve any "out-of-character" problems (like "did I manage to block his laser beam attack?"), otherwise it is up to you!Previous freeforms by the writers at Eternal Con have included Cthulhu-esque horror mysteries, the Succession Wars of Alexander the Great, the Second Crusade, and epic fantasy freeforms set in Greg Stafford's world of Glorantha.
    </p>
  </div>
  <div class="col-12">
    <h4>What is Trollball?</h4>
    <p class="copy">
      Trollball is a family friendly freeform game. It is similar to Rugby but played in slow motion. All players play two teams of huge trolls wielding foam clubs. Each team has to get the "ball" behind the opponent's goal line. The team with the most goals wins. No language skills are necessary but shouting and roaring like a troll would be cool.
    </p>
    <p class="copy">The game lasts for about one hour. For the full rule set and a T-shirt see <a href="http://www.trollball.eu">www.trollball.eu</a>.</p>
  </div>
</div>

