<div class="row">
  <div class="col-10">
    <h2>Über den Eternal Con</h2>
    <h4>Worum geht es?</h4>
    <p class="copy">
      The Eternal Convention ist eine internationale und familienfreundliche Rollenspiel-Convention mit 50% internationalen Gästen aus über einem Dutzend verschiedenen Ländern. Nicht überraschend ist Englisch die vorherrschende gesprochene Sprache.
    </p>
  </div>
  <div class="col-10">
    <h4>Wann findet es statt?</h4>
    <p class="copy">
      The Eternal Convention findet jährlich über das verlängerte Pfingst-Wochenende statt. Da Pfingsten ein beweglicher Feiertag basierend auf dem Kirchen-Kalender ist, ändert sich das exakte Datum von Jahr zu Jahr. Wenn du länger bleiben und eine der schönsten Regionen Deutschlands noch etwas genießen willst, helfen wir dir gerne bei der Buchung einer Bleibe für die Zeit vor und/oder nach der Convention.
    </p>
  </div>  
  <div class="col-10">
    <h4>Wo findet es statt?</h4>
    <p class="copy">
      Ungefähr auf halber Strecke zwischen Köln und Frankfurt liegt die Burg Stahleck auf einem Felsen hoch über dem Rheintal und dem Städtchen <a href="http://bacharach.de/" target="_blank">Bacharach</a>. JA! Eine echte mittelalterliche Burg, die jetzt als eine moderne <a href="http://www.diejugendherbergen.de/die-jugendherbergen-auf-einen-blick/Bacharach/portrait" target="_blank">Jugendherberge</a> umgebaut ist, wird unsere Gäste beherbergen. Spiele im historischen Rittersaal, genieße einen guten Wein, gutes Bier oder einen Café Latte im Burghof im Schatten des Bergfrieds und zähle die Schiffe auf dem Rhein. Alle Zimmer sind modern eingerichtet mit eigenem Bad, guten, stabilen Betten und einer herrlichen Aussicht. Die nächstgelegenen Flughäfen sind Frankfurt/Main (der größte internationale Flughafen Deutschlands) und Frankfurt (Hahn) (günstiger Ryanair-Flughafen). Es gibt eine regelmäßige Bahnverbindung vom Flughafen Frankfurt/Main nach Bacharach und möglicherweise einen durch uns organisierten Shuttle-Bus vom Flughafen Frankfurt Hahn. Trau dich ruhig, danach zu fragen!
    </p>
    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=7.756261825561524%2C50.05325369465134%2C7.7742862701416025%2C50.06355811461845&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/#map=16/50.0584/7.7653">Größere Karte anzeigen</a></small>
  </div>
  <div class="col-10">
    <h4>Welche Spiele erwarten mich?</h4>
    <p class="copy">
      Wir freuen uns auf jedes Spielsystem und jeden Hintergrund, je einzigartiger, desto besser. Wir legen allerdings einen besonderen Fokus auf Glorantha, HeroQuest, RuneQuest, Traveller, Call of Cthulhu, Pendragon und the Eternal Champion. Autoren dieser Spiele werden als Gäste anwesend sein, Panels und Diskussionsrunden anbieten und auch Spiele leiten. Abgesehen von Rollenspielen werden gerne auch FreeForms, Brettspiele und Kartenspiele gespielt.
    </p>
  </div>
  <div class="col-10">
    <h4>Kann ich meine Familie mitbringen?</h4>
    <p class="copy">
      SEHR GERNE! Kinder sind gerne gesehen. Es wird in der Regel ein Kinderprogramm angeboten und auch Freeforms speziell für Kinder finden statt. Außerdem bietet die Gegend um Bacharach reichlich Möglichkeiten für Nicht-Spieler, wie z. B. Bootsfahrten auf dem Rhein, Weinproben, Wanderungen oder Sightseeing.
    </p>
  </div>
  <div class="col-10">
    <h4>Was ist ein FreeForm?</h4>
    <p class="copy">
      Ein Freeform ist eine Art Live-Rollenspiel mit minimalistischen Regeln und einer großen Anzahl an Mitspielern (teilweise über 50 Teilnehmer). Freeforms auf The Eternal Convention dauern in der Regel ca. 4 - 7 Stunden. Kostüme sind sehr gerne gesehen. In einem Freeform spielst du einen vorgefertigten Charakter (oft wirst du aber in die Erschaffung des Charakters eingebunden); dieser Charakter hat typischerweise Ziele, Vorlieben und Abneigungen und einen Hintergrund um dich auf den Charakter und das Setting einzustimmen. In einem Freeform interagierst du mit den anderen Spielern um deine Ziele zu erreichen, das Setting zu erleben und generell eine gute Zeit zu haben. Der Spielleiter ist zuständig, um Fragen zu beantworten, die nicht das Charakterspiel betreffen (z. B. "Habe ich seinen Angriff mit dem Laserstrahl abgewehrt?"), alles Weitere liegt an dir! Bisherige auf The Eternal Convention gespielte Freeforms handelten von Cthulhuesquen Horror-Mysteries, den Erbfolge-Kriegen Alexanders des Großen, dem Zweiten Kreuzzug und epischen Fantasy-Geschichten in Greg Stafford's Welt Glorantha.
    </p>
  </div>
  <div class="col-10">
    <h4>Was ist Trollball?</h4>
    <p class="copy">Trollball ist ein familienfreundliches Freeform-Spiel. Es ist dem Rugby ähnlich, wird jedoch in Zeitlupe gespielt. Die Spieler bilden zwei Mannschaften aus riesigen Trollen mit Schaumstoffkeulen. Jede Mannschaft versucht den "Ball" hinter die gegnerische Ziellinie zu befördern. Die Mannschaft mit den meisten Toren gewinnt. Es sind keine Sprachkenntnisse erforderlich, aber es wäre schön, könntest du wie ein Troll schreien und brüllen.
    </p>
    <p class="copy">
      Das Spiel dauert etwa eine Stunde. Die vollständigen Regeln und T-Shirts findest du unter <a href="http://www.trollball.eu">www.trollball.eu</a>
    </p>
  </div>
</div>

