<div class="row">
  <div class="col-10">
    <h2>Freeforms</h2>
  </div>
  <div class="col-10">
    <p>Currently, the following Freeforms are announced:</p>
  </div>
  <div class="col-10">
    <h3>Norinevras Heimkehr</h3>
    <h4>Freeform for 5 to 15 Teenagers aged 12 to 17 years</h4>
    <strong>Language: German</strong>
    <p>
      Glorantha: We write the Year 1620 (after the Dawning of Ages). It is Water-Time in the occupied Kingdom of Sartar in Dragon Pass.</br>
      Norinevra is dying. She is the ancient and beloved Asrelia-Priestress of your clan. With her last strength she has summondes all her children, grandchildren and great-grandchildren from the whole country to ask one last favour before she passes away.</br>
      <em>What could that favour possibly be?</em>
    </p>
  </div>
</div>
