<div class="row">
  <div class="col-12">
    <h1>Freeforms</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p>Currently, the following Freeforms are announced:</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2>Norinevras Heimkehr</h2>
    <h3>Freeform für 5 bis 15 Teenager im Alter von 12 bis 17 Jahren</h3>
    <strong>Sprache: Deutsch</strong>
    <p>
      Glorantha: Wir schreiben das Jahr 1620 (nach der Zeitendämmerung). Es ist Wasserzeit im vom Lunaren Imperium besetzten Königreich Sartar in der Region Drachenpass.</br>
      Norinevra liegt im Sterben. Sie ist die uralte und beliebte Asrelia-Priesterin aus eurer Sippe. Mit letzter Kraft hat sie noch alle ihre Kinder, Enkel und Urenkel aus dem ganzen Land zu sich gerufen, denn sie möchte ihre Nachkommen um einen letzten Gefallen bitten, bevor sie stirbt.</br>
      <em>Was könnte dies sein?</em>
  </div>
</div>
