  <div class="row">
    <div class="col-xs-12 col-md-6" id="content">
      <p class="subheader"> <%= image_tag "flag_en.jpg", :class => "img-responsive" %>Everything you need to know first</p>
    </div>
    <div class="col-xs-12 col-md-6" id="content">
      <p class="subheader"><%= image_tag "flag_de.jpg", :class => "img-responsive" %> Alles Nötige auf einen Blick</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6" id="content">
      <div class="pricebox">
        <p class="sub">What is it?</p>
        <p class="copy">The Eternal Convention is an international and family friendly RPG Convention with 50% foreign guests from about a dozen different countries all over the world. It is no surprise that English is the dominant spoken language.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6" id="content">
      <div class="pricebox">
        <p class="sub">Worum geht es?</p>
        <p class="copy" itemprop="description">The Eternal Convention ist eine internationale und familienfreundliche Rollenspiel-Convention mit 50% internationalen Gästen aus über einem Dutzend verschiedenen Ländern. Nicht überraschend ist Englisch die vorherrschende gesprochene Sprache.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6" id="content">
      <div class="pricebox">
        <p class="sub">When is it?</p>
        <p class="copy">The Eternal Convention starts Friday June 2nd, 2017 at about 14h and ends Monday June 5th, 2017 at 10h. If you like to stay longer and enjoy some of Germany's favourite regions we are happy to help you to book accommodations before and/or after the event.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6" id="content">
      <div class="pricebox">
        <p class="sub">Wann findet es statt?</p>
        <p class="copy">The Eternal Con beginnt im Jahr 2017 am Freitag, den 02. Juni 2017 um ca. 14 Uhr und endet am Montag, den 5. Juni 2017 um ca. 10 Uhr. Wenn du länger bleiben und eine der schönsten Regionen Deutschlands noch etwas genießen willst, helfen wir dir gerne bei der Buchung einer Bleibe für die Zeit vor und/oder nach der Convention.</p>
      </div>  
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6" id="content">
      <div class="pricebox">
        <p class="sub">Where is it?</p>
        <p class="copy">Roughly between Cologne and Frankfurt lies the Castle Stahleck overlooking the River Rhine and the lovely city of <a href=\"http://bacharach.de/\" target=\"_blank\">Bacharach</a>.
        YES! A real medieval castle, now a modern <a href=\"http://www.diejugendherbergen.de/die-jugendherbergen-auf-einen-blick/Bacharach/portrait\" target=\"_blank\">youth hostel</a>, hosts our guests.
        Game in the historical "Rittersaal", enjoy a fine wine, good beer or a café latte at the courtyard in the shadow of the huge tower and count the ships on the great river.
        All rooms are modern with separate rest-rooms, good and solid beds and a wonderful view.
        Nearest airports are Frankfurt / Main (biggest international airport in Germany) and Frankfurt (Hahn) (cheap Ryanair Airport). From Frankfurt / Main there is a regular train connecting the airport with the town of Bacharach, from Hahn airport we provide a shuttle service for you.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6" id="content">
      <div class="pricebox">
        <p class="sub">Wo findet es statt?</p>
        <p class="copy">Ungefähr auf halber Strecke zwischen Köln und Frankfurt liegt die Burg Stahleck auf einem Felsen hoch über dem Rheintal und dem Städtchen <a href="http://bacharach.de/" target="_blank">Bacharach</a>.
  JA! Eine echte mittelalterliche Burg, die jetzt als eine moderne <a href="http://www.diejugendherbergen.de/die-jugendherbergen-auf-einen-blick/Bacharach/portrait" target="_blank">Jugendherberge</a> umgebaut ist, wird unsere Gäste beherbergen.
  Spiele im historischen Rittersaal, genieße einen guten Wein, gutes Bier oder einen Café Latte im Burghof im Schatten des Bergfrieds und zähle die Schiffe auf dem Rhein.
  Alle Zimmer sind modern eingerichtet mit eigenem Bad, guten, stabilen Betten und einer herrlichen Aussicht.
  Die nächstgelegenen Flughäfen sind Frankfurt/Main (der größte internationale Flughafen Deutschlands) und Frankfurt (Hahn) (günstiger Ryanair-Flughafen). Es gibt eine regelmäßige Bahnverbindung vom Flughafen Frankfurt/Main nach Bacharach und einen durch uns organisierten Shuttle-Bus vom Flughafen Frankfurt Hahn.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6" id="content">
      <div class="pricebox">
        <p class="sub">What games could I expect?</p>
        <p class="copy">We love to see every game system and background, the more unique, the better it is. However, we concentrate on Glorantha, HeroQuest, RuneQuest, Traveller, Call of Cthulhu, Pendragon and the Eternal Champion. There will be authors of theses games, making panels and running games. Besides Pen&Paper games, we are happy to play FreeForms, Boardgames and card games with you.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6" id="content">
      <div class="pricebox">
        <p class="sub">Welche Spiele erwarten mich?</p>
        <p class="copy">Wir freuen uns auf jedes Spielsystem und jeden Hintergrund, je einzigartiger, desto besser. Wir legen allerdings einen besonderen Fokus auf Glorantha, HeroQuest, RuneQuest, Traveller, Call of Cthulhu, Pendragon und the Eternal Champion. Autoren dieser Spiele werden als Gäste anwesend sein, Panels und Diskussionsrunden anbieten und auch Spiele leiten. Abgesehen von Rollenspielen werden gerne auch FreeForms, Brettspiele und Kartenspiele gespielt.</p>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-xs-12 col-md-6" id="content">
      <div class="pricebox">
        <p class="sub">Can I bring my family?</p>
        <p class="copy">YES!  Kids are welcome, in 2012 we had 20% Children at the Convention. We will do a special kids-program and in 2013 we hosted the first kids-freeform-game. Besides the games at the castle, the local area shows a lot of opportunities, like boat-trips, wine-tasting, hiking or cultural sightseeing.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6" id="content">
      <div class="pricebox">
        <p class="sub">Kann ich meine Familie mitbringen?</p>
        <p class="copy">SEHR GERNE! Kinder sind uns willkommen, im Jahr 2012 hatten wir ca. 20 % Kinder als Gäste. Es wird ein spezielles Kinderprogramm angeboten und im Jahr 2013 wurde das erste Kinder-FreeForm üerhaupt mit großem Erfolg angeboten. Außerdem bietet die Gegend um Bacharach reichlich Möglichkeiten für Nicht-Spieler, wie z. B. Bootsfahrten auf dem Rhein, Weinproben, Wanderungen oder Sightseeing.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6" id="content">
      <div class="pricebox">
        <p class="sub">How expensive it will be?</p>
        <p class="copy">Prices start at 119 Euro, including 3 x accommodation with 3 meals a day (breakfast, lunch, dinner) and including Convention Fee. FreeForms, late registration, smaller rooms and extra drinks will need to be paid separately. Book your flights early!</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6" id="content">
      <div class="pricebox">
        <p class="sub">Wie teuer wird der Spass?</p>
        <p class="copy">Die Preise beginnen bei 119 Euro, inclusive 3 Übernachtungen mit 3 Mahlzeiten pro Tag (Frühstück, Mittagessen, Abendessen) und Teilnahmebeitrag für die Convention. Beiträge für die Teilnahme an FreeForms, späte Anmeldung, kleine Zimmer und Getränke außerhalb der Mahlzeiten müssen separat bezahlt werden. Buche deine Anreise frühzeitig!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6" id="content">
      <div class="pricebox">
        <p class="sub">What I have to do now?</p>
        <p class="copy">Visit us at <a href=\"https://www.facebook.com/EternalConvention\" target="_blank">Facebook</a> to get useful information regularly. You don't miss registration and other important news if you do this</p>
      </div>
    </div>
      <div class="col-xs-12 col-md-6" id="content">
       <div class="pricebox">
        <p class="sub">Was muss ich jetzt tun?</p>
        <p class="copy">Besuche uns auf <a href="https://www.facebook.com/EternalConvention" target="_blank">Facebook</a>, um regelmäßige Informationen und Updates zu erhalten. So verpasst du auch nicht den Start der Anmeldephase!</p>
       </div>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6" id="content">
      <div class="pricebox">
        <p class="sub">What is a Freeform?</p>
        <p class="copy">A freeform is a type of roleplaying game with minimal rules and can have as many as 50 players (or more) playing simultaneously. A freeform game (of the type held at Eternal Con) typically lasts 4 to 7 hours. Costuming is typically encouraged. In a freeform you play a premade character (although in some freeforms you may be asked to help make your character); this character typically has goals, likes, and dislikes, and some background to get you in the mindset of your character. In a freeform, you interact with the other players to accomplish your goals, chew scenery, and general have a grand fun time. The referees are there to resolve any "out-of-character" problems (like "did I manage to block his laser beam attack?"), otherwise it is up to you!
      Previous freeforms by the writers at Eternal Con have included Cthulhu-esque horror mysteries, the Succession Wars of Alexander the Great, the Second Crusade, and epic fantasy freeforms set in Greg Stafford's world of Glorantha.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6" id="content">
      <div class="pricebox">
        <p class="sub">Was ist ein FreeForm?</p>
        <p class="copy">Ein Freeform ist eine Art Live-Rollenspiel mit minimalistischen Regeln und einer großen Anzahl an Mitspielern ( teilweise über 50 Teilnehmer). Freeforms auf The Eternal Convention dauern in der Regel ca. 4 - 7 Stunden. Kostüme sind sehr gerne gesehen. In einem Freeform spielst du einen vorgefertigten Charakter (oft wirst du aber in die Erschaffung des Charakters eingebunden); dieser Charakter hat typischerweise Ziele, Vorlieben und Abneigungen und einen Hintergrund um dich auf den Charakter und das Setting einzustimmen.
  In einem Freeform interagierst du mit den anderen Spielern um deine Ziele zu erreichen, das Setting zu erleben und generell eine gute Zeit zu haben. Der Spielleiter ist zuständig, um Fragen zu beantworten, die nicht das Charakterspiel betreffen (z. B. "Habe ich seinen Angriff mit dem Laserstrahl abgewehrt?"), alles Weitere liegt an dir!
  1Bisherige auf The Eternal Convention gespielte Freeforms handelten von Cthulhuesquen Horror-Mysteries, den Erbfolge-Kriegen Alexanders des Großen, dem Zweiten Kreuzzug und epischen Fantasy-Geschichten in Greg Stafford's Welt Glorantha.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6" id="content">
      <div class="pricebox">
        <p class="sub">What is Trollball?</p>
        <p class="copy">Trollball is a family friendly freeform game. It is similar to Rugby but played in slow motion. All players play two teams of huge trolls wielding foam clubs. Each team has to get the "ball" behind the opponent's goal line. The team with the most goals wins. No language skills are necessary but shouting and roaring like a troll would be cool.</p>
        <p class="copy">The game lasts for about one hour. For the full rule set and a T-shirt see <a href="http://www.trollball.eu">www.trollball.eu</a>.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6" id="content">
      <div class="pricebox">
        <p class="sub">Was ist Trollball?</p>
        <p class="copy">Trollball ist ein familienfreundliches Freeform-Spiel. Es ist dem Rugby ähnlich, wird jedoch in Zeitlupe gespielt. Die Spieler bilden zwei Mannschaften aus riesigen Trollen mit Schaumstoffkeulen. Jede Mannschaft versucht den "Ball" hinter die gegnerische Ziellinie zu befördern. Die Mannschaft mit den meisten Toren gewinnt. Es sind keine Sprachkenntnisse erforderlich, aber es wäre schön, könntest du wie ein Troll schreien und brüllen.</p>
        <p class="copy">Das Spiel dauert etwa eine Stunde. Die vollständigen Regeln und T-Shirts findest du unter <a href="http://www.trollball.eu">www.trollball.eu</a></p>
      </div>
    </div>
  </div>
