<div class="row">
  <div class="col-lg-12">
    <%= bootstrap_flash %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12" id="content">
    <p class="subheader">
      THE ETERNAL CONVENTION 2017<br/>
		  June 02 - 05, 2017<br/>
		  Bacharach, Germany
	  </p>	
	  		
  <div class="pricebox">
    <p class="sub">WHAT IS IT?</p>
	  <p class="copy">
	  The Eternal Convention is an international and family friendly RPG Con with 50% foreign guests from about a dozen different countries all over the world. It is no surprise that English is the dominant spoken language.
  </p>
</div>
				
<div class="pricebox">
  <p class="sub">WHEN IS IT?</p>
  <p class="copy">
    The Eternal Con starts Friday May 25th 2012 at about 14h and ends Monday May 28th at 10h. If you like to stay longer and enjoy some of Germany's favourite regions we are happy to help you to book accommodations before and/or after the event.
  </p>
</div>
				
<div class="pricebox">
  <p class="sub">WHERE IS IT?</p>
	<p class="copy">Roughly between Cologne and Frankfurt lies the Castle Stahleck overlooking the River Rhine.</p>
	<p class="copy">YES! A real medieval castle, now a modern youth hostel, hosts our games and guests.</p>
	<p class="copy">Game in the historical "Rittersaal" (The Knights Hall), enjoy a fine wine, good beer or a cafe latte at the courtyard in the shadow of the huge tower and count the ships on the great river.</p>
  <p class="copy">All rooms are modern with separate rest-rooms, good and solid beds and a wonderful view.</p>
	<p class="copy">Nearest airports are Frankfurt (Main) and Frankfurt (Hahn). From Frankfurt (Main) there is a regular train connecting the airport with the town of Bacharach, from Frankfurt (Hahn) airport we provide a shuttle service for you.</p>
</div>
