<div class="row">
  <div class="col-lg-12" id="content">
    <p class="subheader">Everything you need to know first</p>
    <div class="pricebox">
      <p class="sub">What is it?</p>
      <p class="copy">The Eternal Convention is an international and family friendly RPG Convention with 50% foreign guests from about a dozen different countries all over the world. It is no surprise that English is the dominant spoken language.</p>
    </div>

    <div class="pricebox">
      <p class="sub">When is it?</p>
      <p class="copy">The Eternal Convention starts Friday June 2nd, 2017 at about 14h and ends Monday June 5th, 2017 at 10h. If you like to stay longer and enjoy some of Germany's favourite regions we are happy to help you to book accommodations before and/or after the event.</p>
    </div>

    <div class="pricebox">
      <p class="sub">Where is it?</p>
      <p class="copy">Roughly between Cologne and Frankfurt lies the Castle Stahleck overlooking the River Rhine and the lovely city of <a href=\"http://bacharach.de/\" target=\"_blank\">Bacharach</a>.<br/>
      YES! A real medieval castle, now a modern <a href=\"http://www.diejugendherbergen.de/die-jugendherbergen-auf-einen-blick/Bacharach/portrait\" target=\"_blank\">youth hostel</a>, hosts our guests.<br/>
      Game in the historical "Rittersaal", enjoy a fine wine, good beer or a café latte at the courtyard in the shadow of the huge tower and count the ships on the great river.<br/>
      All rooms are modern with separate rest-rooms, good and solid beds and a wonderful view.<br/>
      Nearest airports are Frankfurt / Main (biggest international airport in Germany) and Frankfurt (Hahn) (cheap Ryanair Airport). From Frankfurt / Main there is a regular train connecting the airport with the town of Bacharach, from Hahn airport we provide a shuttle service for you.</p>
    </div>

    <div class="pricebox">
      <p class="sub">What games could I expect?</p>
      <p class="copy">We love to see every game system and background, the more unique, the better it is. However, we concentrate on Glorantha, HeroQuest, RuneQuest, Traveller, Call of Cthulhu, Pendragon and the Eternal Champion. There will be authors of theses games, making panels and running games. Besides Pen&Paper games, we are happy to play FreeForms, Boardgames and card games with you.</p>
    </div>

    <div class="pricebox">
      <p class="sub">Can I bring my family?</p>
      <p class="copy">YES!  Kids are welcome, in 2012 we had 20% Children at the Convention. We will do a special kids-program and in 2013 we hosted the first kids-freeform-game. Besides the games at the castle, the local area shows a lot of opportunities, like boat-trips, wine-tasting, hiking or cultural sightseeing.</p>
    </div>

    <div class="pricebox">
      <p class="sub">How expensive it will be?</p>
      <p class="copy">Prices start at 119 Euro, including 3 x accommodation with 3 meals a day (breakfast, lunch, dinner) and including Convention Fee. FreeForms, late registration, smaller rooms and extra drinks will need to be paid separately. Book your flights early!</p>
    </div>

    <div class="pricebox">
      <p class="sub">What I have to do now?</p>
      <p class="copy">Visit us at <a href=\"https://www.facebook.com/EternalConvention\" target="_blank">Facebook</a> to get useful information regularly. You don't miss registration and other important news if you do this</p>
    </div>

    <div class="pricebox">
      <p class="sub">What is a Freeform?</p>
      <p class="copy">A freeform is a type of roleplaying game with minimal rules and can have as many as 50 players (or more) playing simultaneously. A freeform game (of the type held at Eternal Con) typically lasts 4 to 7 hours. Costuming is typically encouraged. In a freeform you play a premade character (although in some freeforms you may be asked to help make your character); this character typically has goals, likes, and dislikes, and some background to get you in the mindset of your character. In a freeform, you interact with the other players to accomplish your goals, chew scenery, and general have a grand fun time. The referees are there to resolve any "out-of-character" problems (like "did I manage to block his laser beam attack?"), otherwise it is up to you!<br/>
    Previous freeforms by the writers at Eternal Con have included Cthulhu-esque horror mysteries, the Succession Wars of Alexander the Great, the Second Crusade, and epic fantasy freeforms set in Greg Stafford's world of Glorantha.</p>
    </div>

    <div class="pricebox">
      <p class="sub">What is Trollball?</p>
      <p class="copy">Trollball is a family friendly freeform game. It is similar to Rugby but played in slow motion. All players play two teams of huge trolls wielding foam clubs. Each team has to get the "ball" behind the opponent's goal line. The team with the most goals wins. No language skills are necessary but shouting and roaring like a troll would be cool.</p>
      <p class="copy">The game lasts for about one hour. For the full rule set and a T-shirt see <a href="http://www.trollball.eu">www.trollball.eu</a>.</p>
    </div>
  </div>
</div>	  		
				

