<div class="row">
  <div class="col-10">
    <h2>Prices</h2>
    <p>Participants of the convention will have to pay the following fee</p>
    <ul>
      <li>0-3  years <b>its free!!!</b></li>
      <li>4-10 years<b>39 €</b></li>
      <li>11-14 years<b>49 €</b></li>
      <li>regular con fee<b>129 €</b></li>
    </ul>
    <p class="copy">
      The price includes 3 x Accomodation and sheets, in addition breakfast, lunch, dinner and the Convention-Fee.
    </p>
  </div>
</div>
