<div class="row">
  <div class="col-10">
    <h2>Preise</h2>
    <p>Teilnehmer für den Con zahlen den folgenden Beitrag</p>
    <ul>
      <li>0-3 Jahre <b>Kostenlos</b></li>
      <li>4-10 Jahre <b>39 €</b></li>
      <li>11-14 Jahre <b>49 €</b></li>
      <li>Regulär <b>129 €</b></li>
    </ul>
    <p class="copy">
      Der Preis beinhaltet 3 Übernachtungen inclusive Bettwäsche, Frühstück, Mittagessen und Abendessen bis Montag früh und den Beitrag für die Convention.
    </p>
  </div>
</div>
