<div class="row">
  <div class="col">
    <h1>Datenschutzerklärung</h1>
    <p class="lead">Wir freuen uns sehr über Ihr Interesse an The Eternal Convention.</p>
    <p>
      Eine Nutzung der Internetseiten des Eternal Con e.V. ist grundsätzlich ohne jede Angabe personenbezogener Daten möglich. Sofern eine betroffene Person besondere Services in Anspruch nehmen möchte, könnte jedoch eine Verarbeitung personenbezogener Daten erforderlich werden. Ist die Verarbeitung personenbezogener Daten erforderlich und besteht für eine solche Verarbeitung keine gesetzliche Grundlage, holen wir generell eine Einwilligung der betroffenen Person ein.
    </p>
    <p>
      Die Verarbeitung personenbezogener Daten, beispielsweise des Namens, der Anschrift, E-Mail-Adresse oder Telefonnummer einer betroffenen Person, erfolgt stets im Einklang mit der Datenschutz-Grundverordnung und in Übereinstimmung mit den für Eternal Con e.V. geltenden landesspezifischen Datenschutzbestimmungen. Mittels dieser Datenschutzerklärung möchte unser Verein die Öffentlichkeit über Art, Umfang und Zweck der von uns erhobenen, genutzten und verarbeiteten personenbezogenen Daten informieren. Ferner werden betroffene Personen mittels dieser Datenschutzerklärung über die ihnen zustehenden Rechte aufgeklärt.
    </p>
    <p>
      Der Eternal Con e.V. hat als für die Verarbeitung technische und organisatorische Maßnahmen umgesetzt, um einen möglichst lückenlosen Schutz der über diese Internetseite verarbeiteten personenbezogenen Daten sicherzustellen. Dennoch können internetbasierte Datenübertragungen grundsätzlich Sicherheitslücken aufweisen, sodass ein absoluter Schutz nicht gewährleistet werden kann. Aus diesem Grund steht es jeder betroffenen Person frei, personenbezogene Daten auch auf alternativen Wegen, beispielsweise telefonisch, an uns zu übermitteln.
    </p>
    <h2>1. Begriffsbestimmungen</h2>
    <p>
      Die Datenschutzerklärung des Eternal Con e. V: beruht auf den Begrifflichkeiten, die durch den Europäischen Richtlinien- und Verordnungsgeber in der Datenschutz-Grundverordnung (DS-GVO) definiert wurden. Unsere Datenschutzerklärung soll sowohl für die Öffentlichkeit als auch für unsere Kunden und Partner einfach lesbar und verständlich sein.
    </p>
    <h3>Erklärung der verwendeten Begriffe</h3>
    <div class="collapse show" id="collapseTerminology">
      <div class="card card-body">
        <p class="lead">Wir verwenden in dieser Datenschutzerklärung unter anderem die folgenden Begriffe:</p>
        <div class="accordion" id="accordionTerminology">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  a) personenbezogene Daten
                </button>
              </h4>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionTerminology">
              <div class="card-body">
                Personenbezogene Daten sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden "betroffene Person") beziehen. Als identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen Merkmalen, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind, identifiziert werden kann.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  b) betroffene Person
                </button>
              </h4>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionTerminology">
              <div class="card-body">
                Betroffene Person ist jede identifizierte oder identifizierbare natürliche Person, deren personenbezogene Daten von dem für die Verarbeitung Verantwortlichen verarbeitet werden.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                 c) Verarbeitung
                </button>
              </h4>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionTerminology">
              <div class="card-body">
                Verarbeitung ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführter Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten wie das Erheben, das Erfassen, die Organisation, das Ordnen, die Speicherung, die Anpassung oder Veränderung, das Auslesen, das Abfragen, die Verwendung, die Offenlegung durch Übermittlung, Verbreitung oder eine andere Form der Bereitstellung, den Abgleich oder die Verknüpfung, die Einschränkung, das Löschen oder die Vernichtung.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  d) Einschränkung der Verarbeitung
                </button>
              </h4>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionTerminology">
              <div class="card-body">
                Einschränkung der Verarbeitung ist die Markierung gespeicherter personenbezogener Daten mit dem Ziel, ihre künftige Verarbeitung einzuschränken.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFive">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                  e) Profiling
                </button>
              </h4>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionTerminology">
              <div class="card-body">
                Profiling ist jede Art der automatisierten Verarbeitung personenbezogener Daten, die darin besteht, dass diese personenbezogenen Daten verwendet werden, um bestimmte persönliche Aspekte, die sich auf eine natürliche Person beziehen, zu bewerten, insbesondere, um Aspekte bezüglich Arbeitsleistung, wirtschaftlicher Lage, Gesundheit, persönlicher Vorlieben, Interessen, Zuverlässigkeit, Verhalten, Aufenthaltsort oder Ortswechsel dieser natürlichen Person zu analysieren oder vorherzusagen.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingSix">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                  f) Pseudonymisierung
                </button>
              </h4>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionTerminology">
              <div class="card-body">
                Pseudonymisierung ist die Verarbeitung personenbezogener Daten in einer Weise, auf welche die personenbezogenen Daten ohne Hinzuziehung zusätzlicher Informationen nicht mehr einer spezifischen betroffenen Person zugeordnet werden können, sofern diese zusätzlichen Informationen gesondert aufbewahrt werden und technischen und organisatorischen Maßnahmen unterliegen, die gewährleisten, dass die personenbezogenen Daten nicht einer identifizierten oder identifizierbaren natürlichen Person zugewiesen werden.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingSeven">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                  g) Verantwortlicher oder für die Verarbeitung Verantwortlicher
                </button>
              </h4>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionTerminology">
              <div class="card-body">
                Verantwortlicher oder für die Verarbeitung Verantwortlicher ist die natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten entscheidet. Sind die Zwecke und Mittel dieser Verarbeitung durch das Unionsrecht oder das Recht der Mitgliedstaaten vorgegeben, so kann der Verantwortliche beziehungsweise können die bestimmten Kriterien seiner Benennung nach dem Unionsrecht oder dem Recht der Mitgliedstaaten vorgesehen werden.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingEight">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                  h) Auftragsverarbeiter
                </button>
              </h4>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionTerminology">
              <div class="card-body">
                Auftragsverarbeiter ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die personenbezogene Daten im Auftrag des Verantwortlichen verarbeitet.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingNine">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                  i) Empfänger
                </button>
              </h4>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionTerminology">
              <div class="card-body">
                Empfänger ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, der personenbezogene Daten offengelegt werden, unabhängig davon, ob es sich bei ihr um einen Dritten handelt oder nicht. Behörden, die im Rahmen eines bestimmten Untersuchungsauftrags nach dem Unionsrecht oder dem Recht der Mitgliedstaaten möglicherweise personenbezogene Daten erhalten, gelten jedoch nicht als Empfänger.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTen">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                  j) Dritter
                </button>
              </h4>
            </div>
            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionTerminology">
              <div class="card-body">
                Dritter ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle außer der betroffenen Person, dem Verantwortlichen, dem Auftragsverarbeiter und den Personen, die unter der unmittelbaren Verantwortung des Verantwortlichen oder des Auftragsverarbeiters befugt sind, die personenbezogenen Daten zu verarbeiten.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingEleven">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
                  k) Einwilligung
                </button>
              </h4>
            </div>
            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionTerminology">
              <div class="card-body">
                Einwilligung ist jede von der betroffenen Person freiwillig für den bestimmten Fall in informierter Weise und unmissverständlich abgegebene Willensbekundung in Form einer Erklärung oder einer sonstigen eindeutigen bestätigenden Handlung, mit der die betroffene Person zu verstehen gibt, dass sie mit der Verarbeitung der sie betreffenden personenbezogenen Daten einverstanden ist.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2>2. Name und Anschrift des für die Verarbeitung Verantwortlichen</h2>
    <p>
      Verantwortlicher für die Verarbeitung Ihrer personenbezogenen Daten im Zusammenhang mit der Nutzung der Website eternal-con.de im Sinne der Datenschutz-Grundverordnung, des Bundesdatenschutzgesetzes und sonstiger anwendbarer Datenschutzgesetze ist:
    </p>
    <blockquote class="blockquote" >
      Eternal Con e.V.<br />
      c/o Boris Raeschler<br />
      Diestelmeyerstr. 4c<br />
      10249 Berlin<br />
      <br />
      info@eternal-con.de<br />
    </blockquote>
    <h2>3. Cookies</h2>
    <p>
      Die Internetseiten des Eternal Con e. V. verwenden Cookies. Cookies sind Textdateien, welche über einen Internetbrowser auf einem Computersystem abgelegt und gespeichert werden.<br />
      Zahlreiche Internetseiten und Server verwenden Cookies. Viele Cookies enthalten eine sogenannte Cookie-ID. Eine Cookie-ID ist eine eindeutige Kennung des Cookies. Sie besteht aus einer Zeichenfolge, durch welche Internetseiten und Server dem konkreten Internetbrowser zugeordnet werden können, in dem das Cookie gespeichert wurde. Dies ermöglicht es den besuchten Internetseiten und Servern, den individuellen Browser der betroffenen Person von anderen Internetbrowsern, die andere Cookies enthalten, zu unterscheiden. Ein bestimmter Internetbrowser kann über die eindeutige Cookie-ID wiedererkannt und identifiziert werden.
      <h3>3.1 Technisch notwendige Cookies</h3>
      <p>
        Die meisten Cookies, die wir nutzen, sind technisch notwendig, um Ihnen die Nutzung unserer Website und der darauf angebotenen Dienste zu ermöglichen. Einige Elemente unserer Website erfordern es, dass der aufrufende Browser auch nach einem Seitenwechsel identifiziert werden kann.
      </p>
      <p>
      In den genannten Zwecken liegt unser berechtigtes Interesse an der Datenverarbeitung; Rechtsgrundlage ist Art. 6 Abs. 1 UAbs. 1 lit f DS-GVO. Die Daten werden nicht mit anderen personenbezogenen Daten zusammengeführt und nicht für Werbezwecke verwendet. Session Cookies werden nach dem Ende der jeweiligen Browser-Sitzung gelöscht, spätestens nach sieben Tagen.
      </p>
      <h3>3.2 Webanalyse Cookies (Matomo)</h3>
      <p>
        Wir nutzen zudem Webanalyse Cookies zur statistischen Analyse des Nutzerverhaltens auf unserer Website. Diese Cookies erlauben es uns, wiederkehrende Nutzer zu erkennen, ihr Verhalten auf unserer Website zu analysieren, unsere Website zu optimieren und ihre Reichweite zu messen. In diesen Zwecken liegen unsere berechtigten Interessen an der Datenverarbeitung. Rechtsgrundlage ist Art. 6 Abs. 1 UAbs. 1 lit. f DS-GVO.
      </p>
      <p>
        Wir nutzen zudem Webanalyse Cookies zur statistischen Analyse des Nutzerverhaltens auf unserer Website. Diese Cookies erlauben es uns, wiederkehrende Nutzer zu erkennen, ihr Verhalten auf unserer Website zu analysieren, unsere Website zu optimieren und ihre Reichweite zu messen. In diesen Zwecken liegen unsere berechtigten Interessen an der Datenverarbeitung. Rechtsgrundlage ist Art. 6 Abs. 1 UAbs. 1 lit. f DS-GVO.
      </p>
      <p>
        Für die Webanalyse nutzen wir die Webanalyse-Software Matomo (www.matomo.org). Die von der Software eingesetzten Cookies speichern Ihr Verhalten auf unserer Website:
      </p>
      <ul>
        <li>anonymisierte IP-Adresse (zwei letzte Tupel entfernt)</li>
        <li>pseudonyme Benutzerkennung</li>
        <li>Datum und Uhrzeit der Anforderung</li>
        <li>Titel und URL der angeforderten Seite</li>
        <li>Adresse der Seite, von der aus die Datei angefordert wurde ('referrer URL')</li>
        <li>Auflösung Ihres Monitors</li>
        <li>Uhrzeit in Ihrer Zeitzone</li>
        <li>angesehene und heruntergeladene Dateien</li>
        <li>angeclickte Links zu anderen Webseiten</li>
        <li>zum Laden der Seite benötigte Zeit</li>
        <li>Stadt aus der Sie unsere Website besuchen</li>
        <li>Spracheinstellungen</li>
        <li>Name und Version des erwendeten Webbrowsers</li>
        <li>das verwendete Betriebssystem</li>
        <li>den Zugriffsstatus (Datei übertragen, Datei nicht gefunden etc.)</li>
        <li>den abgerufenen Dateitypen</li>
        <li>den Namen und die Größe der abgerufenen Datei</li>
      </ul>
      <p>
        Die durch das Cookie erzeugten Informationen im pseudonymen Nutzerprofil werden nicht dazu benutzt, den Besucher dieser Website persönlich zu identifizieren. Sie werden nicht mit personenbezogenen Daten über den Träger des Pseudonyms zusammengeführt.
      </p>
      <p>
        Wenn Sie mit der Speicherung und Auswertung dieser Daten aus Ihrem Besuch nicht einverstanden sind, können Sie der Speicherung und Nutzung nachfolgend per Mausklick jederzeit widersprechen. In diesem Fall wird in Ihrem Browser ein sog. Opt-out-Cookie abgelegt. Matomo erhebt dann keinerlei Sitzungsdaten mehr. Bitte beachten Sie, dass die vollständige Löschung Ihrer Cookies zur Folge hat, dass auch das Opt-out-Cookie gelöscht wird und ggf. von Ihnen erneut aktiviert werden muss.
      </p>
      <p>
        Alternativ können Sie auch die „Do Not Track“-Funktion Ihres Browsers aktivieren, die unsere Website respektiert.
      </p>
      <iframe
        style="border: 0; height: 200px; width: 600px;"
        src="https://stats.eternal-con.de/index.php?module=CoreAdminHome&action=optOut&language=de&backgroundColor=&fontColor=&fontSize=&fontFamily="
        >
        </iframe>
      <p>
      Sie können die Setzung von sämtlichen Cookies durch unsere Internetseite auch jederzeit mittels einer entsprechenden Einstellung des genutzten Internetbrowsers verhindern und damit der Setzung von Cookies dauerhaft widersprechen. Ferner können bereits gesetzte Cookies jederzeit über einen Internetbrowser oder andere Softwareprogramme gelöscht werden. Dies ist in allen gängigen Internetbrowsern möglich. Hilfestellungen zur Änderung Ihrer Cookie-Einstellungen erhalten Sie z.B. in der Hilfe-Funktion Ihres Internet-Browsers. Weitere Informationen hierzu sowie zu Cookies allgemein finden Sie z.B. unter <a href="https://www.youronlinechoices.com" target="_blank">https://www.youronlinechoices.com </a> und <a href="http://www.allaboutcookies.org" target="_blank">http://www.allaboutcookies.org</a>
      </p>
      <p>
        Bitte beachten Sie, dass Sie unter Umständen nicht alle Funktionen unserer Internetseite vollumfänglich nutzen können, wenn Sie keine Cookies akzeptieren.
      </p>
    <h2>4. Erfassung von allgemeinen Daten und Informationen (Logfiles) (log files)</h2>
    <p>
      Die Internetseite des Eternal Con e.V. erfasst mit jedem Aufruf der Internetseite durch eine betroffene Person oder ein automatisiertes System eine Reihe von allgemeinen Daten und Informationen. Diese allgemeinen Daten und Informationen werden in den Logfiles des Servers gespeichert. Erfasst werden können
    </p>
    <ul>
      <li>die verwendeten Browsertypen und Versionen</li>
      <li>das vom zugreifenden System verwendete Betriebssystem</li>
      <li>die Internetseite, von welcher ein zugreifendes System auf unsere Internetseite gelangt (sogenannte Referrer)</li>
      <li>die Unterwebseiten, welche über ein zugreifendes System auf unserer Internetseite angesteuert werden</li>
      <li>das Datum und die Uhrzeit eines Zugriffs auf die Internetseite</li>
      <li>eine Internet-Protokoll-Adresse (IP-Adresse)</li>
      <li>sonstige ähnliche Daten und Informationen, die der Gefahrenabwehr im Falle von Angriffen auf unsere informationstechnologischen Systeme dienen.</li>
    </ul>
    <p>
      Bei der Nutzung dieser allgemeinen Daten und Informationen zieht der Eternal Con e.V. keine Rückschlüsse auf die betroffene Person. Diese Informationen werden vielmehr benötigt, um
    </p>
    <ul>
      <li>die Inhalte unserer Internetseite korrekt auszuliefern</li>
      <li>die Inhalte unserer Internetseite zu optimieren</li>
      <li>die dauerhafte Funktionsfähigkeit unserer informationstechnologischen Systeme und der Technik unserer Internetseite zu gewährleisten</li>
      <li>um Angriffe auf unsere Informationssysteme erkennen und verfolgen zu können</li>
      <li>um Strafverfolgungsbehörden im Falle eines Cyberangriffes die zur Strafverfolgung notwendigen Informationen bereitzustellen.</li>
    </ul>
    <p>
      Diese erhobenen Daten und Informationen werden durch den Eternal Con e.V. daher einerseits statistisch und ferner mit dem Ziel ausgewertet, den Datenschutz und die Datensicherheit in unserem Verein zu erhöhen, um letztlich ein optimales Schutzniveau für die von uns verarbeiteten personenbezogenen Daten sicherzustellen.
    </p>
    <p>
      In den genannten Zwecken liegt unser berechtigtes Interesse an der Datenverarbeitung; Rechtsgrundlage ist Art. 6 Abs. 1 UAbs. 1 lit. f DS-GVO.
    </p>
    <p>
      Die Daten der Server-Logfiles werden getrennt von allen durch eine betroffene Person angegebenen personenbezogenen Daten gespeichert. Die Logfiles werden nach nach 14 Tagen, es sei denn, ihre weitere Speicherung ist für die oben genannten Zwecke erforderlich.
    </p>
    <h2>5. Verarbeitung von Daten, die Sie uns zur Verfügung stellen</h2>
    <p>
      Die Internetseite des Eternal Con e.V. enthält aufgrund von gesetzlichen Vorschriften Angaben, die eine schnelle elektronische Kontaktaufnahme zu unserem Unternehmen sowie eine unmittelbare Kommunikation mit uns ermöglichen, was ebenfalls eine allgemeine Adresse der sogenannten elektronischen Post (E-Mail-Adresse) umfasst. Sofern Sie per E-Mail oder über ein Kontaktformular Kontakt mit uns aufnehmen, werden die von Ihnen freiwillig übermittelten personenbezogenen Daten automatisch gespeichert.
    </p>
    <p>
      Wir verarbeiten Ihre Daten zur Beantwortung Ihrer Anfrage; Rechtsgrundlage für die Datenverarbeitung ist Art. 6 Abs. 1 UAbs. 1 lit. f DSGVO (unser berechtigtes Interesse liegt darin, Ihre Anfrage beantworten zu können). Soweit die Datenverarbeitung für die Durchführung vorvertraglicher Maßnahmen (z.B. bei Anfragen zu unseren Produkten oder Leistungen) oder die Erfüllung eines Vertrags erforderlich ist, ist Rechtsgrundlage zudem Art. 6 Abs. 1 UAbs. 1 lit. f DSGVO.
    </p>
    <p>
      Die Daten aus Ihren Anfragen werden gelöscht, wenn die jeweilige Konversation beendet und der betroffene Sachverhalt abschließend geklärt ist und gesetzliche, satzungsgemäße oder vertragliche Aufbewahrungsfristen abgelaufen sind. Aufbewahrungsfristen gelten insbesondere, wenn Ihre Anfrage zum Abschluss eines Vertrages mit uns führt (§ 147 Abs. 1, Abs. 3 AO, § 257 Abs. 1, Abs. 4 HGB: 6-jährige Aufbewahrungsfrist für Korrespondenz im Zusammenhang mit einem Vertragsschluss, 10-jährige Aufbewahrungsfrist für Buchungsbelege).
    </p>
    <h2>6. Weitergabe Ihrer Daten</h2>
    <p>
      Innerhalb des Eternal Con e.V. erhalten diejenigen Stellen Zugriff auf Ihre personenbezogenen Daten, die diese zur Erfüllung unserer vertraglichen und gesetzlichen Pflichten brauchen.
    </p>
    <p>
      Eine Datenübermittlung in Drittstaaten (Staaten außerhalb des Europäischen Wirtschaftsraums – EWR) findet nicht statt. Personenbezogene Informationen geben wir nur weiter, wenn gesetzliche Bestimmungen dies gebieten (Art. 6 Abs. 1 UAbs. 1 lit. c DS-GVO) oder der Betroffene eingewilligt hat (Art. 6 Abs. 1 UAbs. 1 lit. a DS-GVO). Unter diesen Voraussetzungen können Empfänger personenbezogener Daten z. B. sein: Öffentliche Stellen und Institutionen bei Vorliegen einer gesetzlichen oder behördlichen Verpflichtung.
    </p>
    <h2>7. Ihre Datenschutzrechte</h2>
    <p>
      Sie haben gegenüber dem Eternal Con e.V.  das Recht auf Auskunft (Art. 15 DS-GVO), das Recht auf Berichtigung (Art. 16 DS-GVO), das Recht auf Löschung (Art. 17 DS-GVO), das Recht Einschränkung der Verarbeitung (Art. 18 DSGVO) sowie das Recht auf Datenübertragbarkeit (Art. 20 DS-GVO). Beim Auskunftsrecht und beim Löschungsrecht gelten die Einschränkungen nach §§ 34 und 35 BDSG.
    </p>
    <p>
      Sie haben zudem das Recht, der Datenverarbeitung durch den Eternal Con e.V. zu widersprechen (Art. 21 DS-GVO).
    </p>
    <p>
      Soweit unsere Verarbeitung Ihrer personenbezogenen Daten auf einer Einwilligung beruht (Art. 6 Abs. 1 UAbs. 1 lit. a DSGVO), können Sie diese jederzeit widerrufen; die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Datenverarbeitung bleibt hiervon unberührt.
    </p>
    <p>
      Zur Geltendmachung all dieser Rechte sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter <a href="mailto:webmaster@eternal-con.de">The Eternal Con Webmaster, webmaster@eternal-con.de</a> oder den oben in Ziffer 2. angegebenen Kontaktdaten an uns wenden.
    </p>
    <p>
      Unabhängig hiervon haben Sie das Recht, bei einer Aufsichtsbehörde – insbesondere in dem EU-Mitgliedstaat Ihre Aufenthaltsorts, Ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes – eine Beschwerde einzulegen, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die DSGVO oder andere geltende Datenschutzgesetze verstößt (Art. 77 DSGVO, § 19 BDSG).
    </p>
    <h2>8. Pflicht zur Bereitstellung von Daten</h2>
    <p>
      Im Rahmen unserer Geschäftsbeziehung müssen unsere Vertragspartner nur diejenigen personenbezogenen Daten bereitstellen, die für die Begründung, Durchführung und Beendigung einer Geschäftsbeziehung erforderlich sind oder zu deren Erhebung wir gesetzlich verpflichtet sind. Ohne diese Daten werden wir in der Regel den Abschluss des Vertrages oder die Ausführung des Auftrages ablehnen müssen oder einen bestehenden Vertrag nicht mehr durchführen können und ggf. beenden müssen.
    </p>
    <p>
      Die Bereitstellung personenbezogener Daten ist zum Teil gesetzlich vorgeschrieben (z.B. Steuervorschriften) oder sie kann sich auch aus vertraglichen Regelungen (z.B. Angaben zum Vertragspartner) ergeben.
    </p>
    <h2>9. Keine automatisierte Entscheidungsfindung (Art. 22 Abs. 1 und 4 DS-GVO)</h2>
    <p>
      Als verantwortungsbewusstes Unternehmen verzichten wir auf eine automatische Entscheidungsfindung oder ein Profiling.
    </p>
  </div>
</div>
