<div class="row">
  <div class="col">
    <h1>Privacy policy</h1>
    <p class="lead">Thank you for your interest in The Eternal Convention.</p>
    <p>
      Data protection is a particularly high priority for the Eternal Con e.V. The webpages of the Eternal Con e.V. can be used without having to specify any personal data. However, should a data subject wish to use special enterprise services through our website, the processing of personal data may be required. Should the processing of personal data be necessary and there is no legal basis for such processing, we will generally ask the data subject for consent.
    </p>
    <p>
      The processing of personal data, such as the name, address, email address, or telephone number of a data subject will always be in accordance with the General Data Protection Regulation (GDPR) and the country-specific data protection laws applicable to the Eternal Con e.V. The purpose of this data protection statement is to inform the general public of the nature, scope, and purpose of the personal data we collect, use and process. This statement also informs data subjects of the rights they are entitled to.
    </p>
    <p>
      As the controller, the Eternal Con e.V. has implemented numerous technical and organisational measures to ensure the best possible protection of personal data processed through this website. However, the electronic transmission of data can, in principle, have security gaps, meaning that absolute protection cannot be guaranteed. For this reason, every data subject is free to transfer personal data to us through alternative means, for example, by telephone.
    </p>
    <h2>1. Definitions</h2>
    <p>
      The Eternal Con e.V. data protection statement is based on the terms used by the European legislator for the adoption of the General Data Protection Regulation (GDPR). Our data protection statement should be clear and understandable to the general public, as well as our customers and business partners. To ensure this, we will start with an explanation of the terminology we use.
    </p>
    <h3>Explanation of the terminology</h3>
    <div class="collapse show" id="collapseTerminology">
      <div class="card card-body">
        <p class="lead">In this data protection statement, the following terms shall have the following meaning:</p>
        <div class="accordion" id="accordionTerminology">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  a) Personal data
                </button>
              </h4>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionTerminology">
              <div class="card-body">
                Personal data means any information relating to an identified or identifiable natural person (‘data subject‘ ). An identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  b) Data subject
                </button>
              </h4>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionTerminology">
              <div class="card-body">
                Data subject is any identified or identifiable natural person, whose personal data is processed by the controller responsible for the processing.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                 c) Proccessing
                </button>
              </h4>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionTerminology">
              <div class="card-body">
                Processing is any operation or set of operations that is performed on personal data or on sets of personal data, whether or not by automated means, such as collection, recording, organisation, structuring, storage, adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise making available, alignment or combination, restriction, erasure or destruction.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  d) Restriction of processing
                </button>
              </h4>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionTerminology">
              <div class="card-body">
                Restriction of processing is the marking of stored personal data with the aim of limiting their processing in the future.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFive">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                  e) Profiling
                </button>
              </h4>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionTerminology">
              <div class="card-body">
                Profiling means any form of automated processing of personal data consisting of the use of personal data to evaluate certain personal aspects relating to a natural person, in particular to analyse or predict aspects concerning that natural person's performance at work, economic situation, health, personal preferences, interests, reliability, behaviour, location or movements.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingSix">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                  f) Pseudonymisation
                </button>
              </h4>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionTerminology">
              <div class="card-body">
                Pseudonymisation is the processing of personal data in such a manner that the personal data can no longer be attributed to a specific data subject without the use of additional information, provided that such additional information is kept separately and is subject to technical and organisational measures to ensure that the personal data are not attributed to an identified or identifiable natural person.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingSeven">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                  g) Controller or controller responsible for the processing
                </button>
              </h4>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionTerminology">
              <div class="card-body">
                Controller or controller responsible for the processing is the natural or legal person, public authority, agency or other body that, alone or jointly with others, determines the purposes and means of the processing of personal data; where the purposes and means of such processing are determined by Union or Member State law, the controller or the specific criteria for its nomination may be provided for by Union or Member State law.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingEight">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                  h) Processor
                </button>
              </h4>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionTerminology">
              <div class="card-body">
                Processor is a natural or legal person, public authority, agency or other body that processes personal data on behalf of the controller.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingNine">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                  i) Recipient
                </button>
              </h4>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionTerminology">
              <div class="card-body">
                Recipient is a natural or legal person, public authority, agency or another body, whether a third party or not, to which the personal data are disclosed. However, public authorities that may receive personal data in the framework of a particular inquiry in accordance with Union or Member State law shall not be regarded as recipients; the processing of those data by those public authorities shall be in compliance with the applicable data protection rules according to the purposes of the processing.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTen">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                  j) Third party
                </button>
              </h4>
            </div>
            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionTerminology">
              <div class="card-body">
                Third party is a natural or legal person, public authority, agency or body other than the data subject, controller, processor and persons who, under the direct authority of the controller or processor, is authorised to process personal data.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingEleven">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
                  k) Consent
                </button>
              </h4>
            </div>
            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionTerminology">
              <div class="card-body">
                Consent of the data subject is any freely given, specific, informed and unambiguous indication of the data subject's wishes by which he or she, by a statement or by a clear affirmative action, signifies agreement to the processing of personal data relating to him or her.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2>2. Name and address of the controller</h2>
    <p>
      For the purposes of the General Data Protection Regulation (GDPR), other data protection laws applicable in EU Member states and other provisions related to data protection, the controller is:
    </p>
    <blockquote class="blockquote" >
      Eternal Con e.V.<br />
      c/o Boris Raeschler<br />
      Diestelmeyerstr. 4c<br />
      10249 Berlin<br />
      <br />
      info@eternal-con.de<br />
    </blockquote>
    <h2>3. Cookies</h2>
    <p>
      The Eternal Con e.V. uses cookies. Cookies are text files that are stored on a computer system through a web browser. Most websites and servers use cookies. Most cookies contain a cookie ID. A cookie ID is a cookie’s unique identifier. It consists of a character string through which webpages and servers can be assigned to the specific web browser in which the cookie is stored. This allows visited websites and servers to distinguish the individual browser of the data subject from other web browsers that contain other cookies. A specific web browser can be recognised and identified through the unique cookie ID. Our website uses cookies for the following purposes:
      <h3>3.1 Technical cookies</h3>
      <p>
        Most of the cookies that we use are technical cookies that enable you to use our website and the services we offer on it. Some of the features on our website require the browser to be identified even after moving on to a new page.
      </p>
      <p>
      For the stated purposes, our legitimate interest is in data processing; the legal basis is Art 6, par 1, (f) GDPR. The data are not combined with any other personal information and are not used for promotion purposes. Session cookies are deleted at the end of every browser session, and at the latest within seven days.
      </p>
      <h3>3.2 Analytics cookies (Matomo)</h3>
      <p>
        We also use analytics cookies to analyse how users interact with our website (user behaviour). These cookies enable us to recognise returning users, analyse their interaction with our website, optimise our website and measure its reach. For these purposes, our legitimate interest is in data processing; the legal basis is Art 6, par 1, point (f) GDPR.
      </p>
      <p>
        For the web analysis, we use the web analysis software Matomo (www.matomo.org). The cookies used by the software store your interaction with our website (anonymised IP address (removal of the last octet); user ID; date and time; title and URL of the pages visited; page from which you accessed this page ('referrer URL'); resolution of your computer screen; time in your time zone; viewed and downloaded files; clicked links to other websites; time it took for the page to load; city from which you are visiting our website; language settings, name and version of your browser) in pseudonymous user profiles. Data that are collected with the Matomo technology (including your anonymised IP address) are processed on our servers.
      </p>
      <p>
        The information generated by the cookie and stored in pseudonymous user profiles is not used to personally identify a person visiting the website. It is not combined with personal data about the pseudonymised user.
      </p>
      <p>
        If you do not agree with the storing and analysis of the information generated by your visit, you can object to the storing and use of the data at any time with a click of the mouse. In this case, an opt-out cookie will be stored in your browser and Matomo will stop collecting session data. Please note that deleting all of your cookies also deletes the opt-out cookie and that you may have to reactivate it.
      </p>
      <p>
        Alternatively, you can check the 'Do not track' option in your web browser, which our website respects.
      </p>
      <p>
        You can permanently prevent our website from storing cookies in your web browser at any time by checking the corresponding setting in your web browser. In addition, cookies that are already stored in your web browser can be deleted at any time using a web browser or other software programs. This feature is available in all of the popular web browsers. For help on changing your cookie settings, click on the help in your web browser. More information about this topic and cookies in general can be found at <a href="https://www.youronlinechoices.com" target="_blank">https://www.youronlinechoices.com </a> and <a href="http://www.allaboutcookies.org" target="_blank">http://www.allaboutcookies.org</a>.
      </p>
      <p>
        Please note that you might not be able to use all of the functions and features offered on our website and that some pages may not display properly if you do not accept cookies.
      </p>
    <h2>4. Collection of general data and information (log files)</h2>
    <p>
      The Eternal Con e.V.'s website collects a variety of general data and information every time a data subject or an automated system visits the website. These general data and information are stored on the server in log files. The following information can be collected:
    </p>
    <ul class="list-unstyled">
      <li>user browser types and versions;</li>
      <li>operating system of the requesting system;</li>
      <li>webpage from which a requesting system accesses our webpage (referrer);</li>
      <li>subordinate webpages on our website that are accessed by a requesting system;</li>
      <li>date and time the webpage is requested;</li>
      <li>internet service provider of the requesting system;</li>
      <li>other similar data and information that are used in the event of an attack on our information technology systems.</li>
    </ul>
    <p>
      The use of these general data and information does not enable the Eternal Con e.V. to trace the data back to the data subject. Rather, this information is needed to:
    </p>
    <ul class="list-unstyled">
      <li>ensure the contents of our website work properly;</li>
     <li>optimise the contents of our website and its promotion;</li>
     <li>ensure the continued functioning of our information technology systems and the technology of our website as well as to provide law enforcement agencies with the necessary information for prosecution in the event of a cyberattack.</li>
    </ul>
    <p>
      The Eternal Con e.V.analyses these anonymously collected data and information statistically and with the goal of increasing data protection and data security in our company with the aim of ensuring the highest level of protection possible for the personal data we process.
    </p>
    <p>
      For the stated purposes, our legitimate interest is in data processing; the legal basis is Art 6, par 1, point (f) GDPR.
    </p>
    <p>
      The anonymous data in the server log files are stored separately from the personal data provided by a data subject. The log files are deleted at the end each browser session and at the latest after seven days, unless their further storage is required for the above purposes.
    </p>
    <h2>5. Processing of data that you provide to us</h2>
    <p>
      On the grounds of legal regulations, the Eternal Con e.V.'s website contains information that enables you to contact us quickly through electronic means and to communicate directly with us, which also includes the provision of a general email address. If you contact us by email or by submitting a contact form (for example, to register for a convention), the personal data you voluntarily submit will be automatically saved.
    </p>
    <p>
      We process your data to answer your inquiry; the legal basis is Art 6, par 1, point (f) GDPR (our legitimate interest is in answering your inquiry). Insofar as the processing of data is required for the performance of pre-contractual measures (for example, for inquiries about our products or services) or the performance of a contract, the legal basis is also Art 6, par 1, point (f) GDPR.
    </p>
    <p>
      The data from your inquiries will be deleted when the respective conversation ends and the issue in question has been resolved and legal, statutory or contractual retention periods have expired. The retention periods apply in particular if your inquiry resulted in a contract with us (Art 147 par 1, par 3 AO (German revenue code), Art 257 par 1, par 4 HGB (German commercial code): 6-year retention period for correspondence relating to the formation of a contract.).
    </p>
    <h2>6. Passing on your data</h2>
    <p>
      At the Eternal Con e.V., access to your personal data will be granted to the departments that need it to perform our contractual and legal obligations.
    </p>
    <p>
      We also pass on personal data when we are required to do so by law (Art 6, par 1, point (c) GDPR) or the data subject has given his or her consent to the processing (Art 6, par 1, point (a) GDPR). Under these conditions, recipients of personal data may, for example, be public authorities and institutions in the event of a legal or regulatory obligation.
    </p>
    <h2>7. Your data protection rights</h2>
    <p>
      You have the right to obtain from Eternal Con e.V. access to your personal data (Art 15 GDPR), the rectification of your personal data (Art 16 GDPR), the erasure of your personal data (Art 17 GDPR), the restriction of the processing of your personal data (Art 18 GDPR) and the portability of your personal data (Art 20 GDPR). The right of access and the right to erasure are subject to the restrictions in Art 34 and 35 German Data Protection Act.
    </p>
    <p>
      You also have the right to object to the processing of your personal data by the Eternal Con e.V. (Art 21 GDPR).
    </p>
    <p>
      Insofar as the processing of your personal data by Eternal Con e.V.  is based on consent (Art 6, par (1), point (a) GDPR), you can withdraw the consent at any time; the legality of the data processing performed on the basis of the consent remains unaffected until the consent is revoked.
    </p>
    <p>
      Should you wish to assert these rights or have any questions concerning personal data, please do not hesitate to contact us at any time by email at <a href="mailto:webmaster@eternal-con.de">The Eternal Con Webmaster, webmaster@eternal-con.de</a> or using the contact information provided in Section 2.
    </p>
    <p>
      Irrespective of this, you have the right to lodge a complaint with a supervisory authority - in particular in the EU Member State in which you reside, or work or the place of the alleged infringement - if you believe that the processing of your personal data violates the GDPR or other applicable data protection laws (Art 77 GDPR, Art 19 German Data Protection Act).
    </p>
    <h2>8. Obligation to provide data</h2>
    <p>
      As part of our business relationship, our processors must provide only those personal data that are needed to establish, conduct and terminate a business relationship or that we are required to collect by law. Without these data, we will be obliged to refuse entering into a contract or executing an order or may not be able to continue executing an existing contract and may even have to terminate it.
    </p>
    <p>
      The provision of personal data is in part required by law (e.g. tax regulations) or may arise from contractual agreements (e.g. the processor's information).
    </p>
    <h2>9. No automated individual decision-making (Art 22 par 1 and 4 GDPR)</h2>
    <p>
      As a responsible company we refrain from automatic decision-making or profiling.
    </p>
  </div>
</div>
