# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

  

# Do not keep production secrets in the repository,
# instead read values from the environment.
  
development:
  database:
    :host: localhost
    :name: con-rails_development
    :username: change
    :password: change
    :socket: /var/run/mysqld/mysqld.sock
  secret_key_base: 4f5e12372f35239f183ce48e2043e59efc8a0a59e2a2f25b68743711a78c89ea5e5f2f6cbda4e3a0afa2b1867798011a83ce643b8670a7311fe6c090912591dc
  smtp:
    :address: change
    :domain:  change
    :username:  change
    :password:  change

test:
  database:
    :host: localhost
    :name: con-rails_testing
    :username: change
    :password: change
    :socket: /var/run/mysqld/mysqld.sock
  secret_key_base: 1e60991c8d1e6fd9b34e0b61ce2079271e95143a93add194a595300ff6278fa20da26f2712375cc67ae9f1477114b98348f27828d0d3f59e201d9c94e9c11073
  smtp:
    :address: change
    :domain:  change
    :username:  change
    :password:  change

production:
  database:
    :host: localhost
    :name: con-rails_production
    :username: change
    :password: change
    :socket: /var/run/mysqld/mysqld.sock
  secret_key_base: 1e60991c8d1e6fd9b34e0b61ce2079271e95143a93add194a595300ff6278fa20da26f2712375cc67ae9f1477114b98348f27828d0d3f59e201d9c94e9c11073
  smtp:
    :address: change
    :domain:  change
    :username:  change
    :password:  change
    
staging:
  database:
    :host: localhost
    :name: con-rails_staging
    :username: change
    :password: change
    /var/run/mysqld/mysqld.sock
  secret_key_base: 1e60991c8d1e6fd9b34e0b61ce2079271e95143a93add194a595300ff6278fa20da26f2712375cc67ae9f1477114b98348f27828d0d3f59e201d9c94e9c11073
  smtp:
    :address: change
    :domain:  change
    :username:  change
    :password:  change
