<div class="row">
  <div class="col-xs-12" class="content_small">
    <div class="pricebox">
      <p class="subheader"><%= t(:registration_freeform_title, freeform_title: @freeform.title) -%></p>
    </div>
  </div>
</div>
<div id="registerFormDiv" class="registerFreeformDiv">
  <%= render :partial => "form" %>
</div>
