/*  Base css
*   Please write properties in alphabetical order
*/
/* reset */
/* Basic Layout */
body {
  margin: 0;
  padding: 0;
  background: #000000;
  background-image: image-url("bg.jpg"), image-url("bg_repeat.jpg");
  background-repeat: repeat-x, repeat;
  background-position: 0 0, 0 1400;
  font-family: cardo, Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 1.6;
  position: relative;
  text-align: center;
  width: 100%;
}
#content {
  background: #ffffff image-url("content_bg.jpg") repeat-y 0 0;
  text-align: left;
  padding-top: 26px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}
#content a {
  color: #ff0000;
}
p.subheader {
  font-size: 24px;
  width: 100%;
  border-bottom: 1px solid black;
  margin-top: 30px;
  margin-bottom: 10px;
}
.pricebox {
  position: relative;
  width: 100%;
  background: rgba(237, 222, 193, 0.8);
  margin-bottom: 20px;
}
.pricebox p {
  margin: 0px;
}
.pricebox p.sub {
  width: 100%;
  text-decoration: none;
  background: rgba(203, 177, 127, 0.8);
  font-size: 18px;
  padding: 0px 0px 0px 0px;
  text-indent: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.pricebox b {
  color: #ff0000;
}
.pricebox .desc {
  margin-left: 20px;
  padding-bottom: 10px;
}
.pricebox p.copy {
  padding: 5px 10px 5px 10px;
}

