#registerFormDiv{
  background: white;
  padding-top: 2%;
  padding-bottom: 5%;

  #flashMessage {
    padding: 2% 5%;

    #flashNoticeDiv{
      padding: 5% 10%;
      background: #509c25;
      color: #FFF;
    }
  }
  #fin-injury select {
    max-width: 190px;
  }
}
